In [1]:
import pandas as pd 

df = pd.read_csv('2025-06-28_transaction_download.csv', encoding='utf-8')
df.head()

  Transaction Date Posted Date  Card No.  ...     Category  Debit  Credit
0       2025-06-12  2025-06-14      5432  ...       Dining  30.20     NaN
1       2025-06-11  2025-06-13      5432  ...  Health Care   3.53     NaN
2       2025-06-12  2025-06-13      5432  ...       Dining  15.60     NaN
3       2025-06-11  2025-06-12      5432  ...       Dining   4.88     NaN
4       2025-06-11  2025-06-12      5432  ...  Merchandise  40.97     NaN

[5 rows x 7 columns]

In [2]:
df['Debit'].sum()

244.9